body {
  background: #222629;
}
* {
  font-family: 'Mont',  sans-serif;
}
a {
  text-decoration: none;
  color: white;
}

@import "blocks/header";
@import "blocks/slider";
@import "blocks/footer";
@import "blocks/media";