@media (max-width: 1920px) {
    .details {
        .zero {
            img {
                width: 1640px;
                height: 800px;
            }
        }
        .first {
            img {
                width: 750px;
            }
        }
        .second {
            img {
                width: 490px;
                height: 440px;
            }
        }
        &__nav {
            justify-content: center;
            img {
                width: 478px;
                height: 340px;
            }
            &-prev {
                margin-right: 80px;
            }
            &-projects {
                margin-right: 80px;
            }
        }
    }
}
@media (max-width: 1700px) {
    .details {
        .first {
            img {
                width: 710px;
                height: 570px;
            }
        }
        .second {
            img {
                width: 460px;
            }
        }
        &__nav {
            &-prev {
                img {
                    width: 420px;
                }
                &__link {
                    transform: translate(70px,150px);
                }
            }
            &-projects {
                img {
                    width: 420px;
                }
                &__btn {
                    transform: translate(100px,115px);
                }
            }
            &-next {
                img {
                    width: 420px;
                }
                &__link {
                    transform: translate(70px,150px);
                }
            }
        }
    }
}
@media (max-width: 1620px) {
    .container {
        max-width: 1400px;
    }
    .details {
        .zero {
            img {
                width: 1400px;
                height: 650px;
            }
        }
        .first {
            img {
                width: 650px;
                height: 530px;
            }
        }
        .second {
            img {
                width: 415px;
                height: 420px;
            }
        }
        &__nav {
            &-prev {
                img {
                    width: 390px;
                    height: 320px;
                }
                &__link {
                    transform: translate(55px,150px);
                }
            }
            &-projects {
                img {
                    width: 390px;
                    height: 320px;
                }
                &__btn {
                    transform: translate(80px,115px);
                }
            }
            &-next {
                img {
                    width: 390px;
                    height: 320px;
                }
                &__link {
                    transform: translate(55px,150px);
                }
            }
        }
    }
}
@media (max-width: 1490px) {
    .container {
        max-width: 1350px;
    }
    .details {
        .zero {
            img {
                width: 1350px;
                height: 650px;
            }
        }
        .first {
            img {
                width: 585px;
                height: 510px;
            }
        }
        .second {
            img {
                width: 370px;
                height: 420px;
            }
        }
        .third {
            img {
                width: 370px;
            }
        }
        &__nav {
            &-prev {
                img {
                    width: 350px;
                    height: 300px;
                }
                &__link {
                    transform: translate(35px,135px);
                }
            }
            &-projects {
                img {
                    width: 350px;
                    height: 300px;
                }
                &__btn {
                    transform: translate(60px,100px);
                }
            }
            &-next {
                img {
                    width: 350px;
                    height: 300px;
                }
                &__link {
                    transform: translate(35px,135px);
                }
            }
        }
    }
}
@media (max-width: 1366px) {
    .details {
        .zero {
            img {
                width: 1170px;
            }
        }
        .first {
            img {
                width: 565px;
                height: 450px;
            }
        }
        .second {
            flex-wrap: wrap;
            img:last-child {
                margin: 0 auto;
            }
            img:nth-child(1) {
                margin-bottom: 40px;
            }
            img:nth-child(2) {
                margin-bottom: 40px;
            }
        }
        .third {
            flex-wrap: wrap;
            img {
                width: 560px;
                height: 550px;
            }
            img:last-child {
                margin: 0 auto;
            }
            img:nth-child(1) {
                margin-bottom: 40px;
            }
            img:nth-child(2) {
                margin-bottom: 40px;
                margin-right: 0;
            }
        }
        &__nav {
            &-prev {
                img {
                    width: 360px;
                    height: 270px;
                }
                &__link {
                    transform: translate(40px,120px);
                }
            }
            &-projects {
                img {
                    width: 360px;
                    height: 270px;
                }
                &__btn {
                    transform: translate(65px,90px);
                }
            }
            &-next {
                img {
                    width: 360px;
                    height: 270px;
                }
                &__link {
                    transform: translate(40px,120px);
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 910px;
    }
    .details {
        .zero {
            img {
                width: 910px;
            }
        }
        .first {
            img {
                width: 435px;
                height: 400px;
            }
        }
        .second {
            flex-wrap: wrap;
            img {
                width: 420px;
            }
            img:nth-child(1) {
                margin-bottom: 0;
                margin-right: 20px;
            }
            img:nth-child(2) {
                margin-bottom: 0px;
                
            }
            img:nth-child(3) {
                margin-top: 40px;
            }
        }
        .third {
            flex-wrap: wrap;
            img {
                width: 435px;
                height: 450px;
            }
            img:last-child {
                margin: 0 auto;
            }
            img:nth-child(1) {
                margin-bottom: 40px;
                margin-right: 20px;
            }
            img:nth-child(2) {
                margin-bottom: 40px;
                margin-right: 0;
            }
        }
        &__nav {
            &-prev {
                img {
                    width: 305px;
                    height: 245px;
                }
                &__link {
                    transform: translate(20px,110px);
                    font-size: 17px;
                }
            }
            &-projects {
                img {
                    width: 305px;
                    height: 245px;
                }
                &__btn {
                    transform: translate(45px,80px);
                    font-size: 17px;
                }
            }
            &-next {
                img {
                    width: 305px;
                    height: 245px;
                }
                &__link {
                    transform: translate(20px,110px);
                    font-size: 17px;
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    .details {
        .zero {
            img {
                width: 900px;
                height: 700px;
            }
        }
        .first {
            img {
                width: 430px;
                height: 450px;
            }
        }
        .second {
            flex-wrap: wrap;
            img {
                width: 430px;
            }
            img:nth-child(1) {
                margin-bottom: 0;
            }
            img:nth-child(2) {
                margin-bottom: 0px;
                margin-right: 0;
            }
            img:nth-child(3) {
                margin-top: 40px;
            }
        }
        .third {
            flex-wrap: wrap;
            img {
                width: 430px;
            }
            img:last-child {
                margin: 0 auto;
            }
            img:nth-child(1) {
                margin-bottom: 40px;
            }
            img:nth-child(2) {
                margin-bottom: 40px;
                margin-right: 0;
            }
        }
        &__nav {
            &-prev {
                img {
                    width: 273px;
                    height: 215px;
                }
                &__link {
                    transform: translate(65px,90px);
                    font-size: 16px;
                    width: 240px;
                }
            }
            &-projects {
                img {
                    width: 273px;
                    height: 215px;
                }
                &__btn {
                    transform: translate(50px,70px);
                    padding: 20px 30px;
                }
            }
            &-next {
                img {
                    width: 273px;
                    height: 215px;
                }
                &__link {
                    transform: translate(65px,90px);
                    font-size: 16px;
                    width: 240px;
                }
            }
        }
    }
}
@media (max-width: 910px) {
    .container {
        max-width: 750px;
    }
    .details {
        .zero {
            img {
                width: 750px;
                height: 550px;
            }
        }
        .first {
            img {
                width: 355px;
                height: 400px;
            }
        }
        .second {
            flex-wrap: wrap;
            img {
                width: 355px;
                height: 390px;
            }
            img:nth-child(1) {
                margin-bottom: 0;
            }
            img:nth-child(2) {
                margin-bottom: 0px;
                margin-right: 0;
            }
            img:nth-child(3) {
                margin-top: 40px;
            }
        }
        .third {
            flex-wrap: wrap;
            img {
                width: 355px;
                height: 430px;
            }
            img:last-child {
                margin: 0 auto;
            }
            img:nth-child(1) {
                margin-bottom: 40px;
            }
            img:nth-child(2) {
                margin-bottom: 40px;
                margin-right: 0;
            }
        }
        &__nav {
            &-prev {
                img {
                    width: 223px;
                    height: 200px;
                }
                &__link {
                    transform: translate(40px,80px);
                    font-size: 16px;
                    width: 150px;
                }
            }
            &-projects {
                img {
                    width: 223px;
                    height: 200px;
                }
                &__btn {
                    transform: translate(25px,60px);
                    padding: 20px 30px;
                }
            }
            &-next {
                img {
                    width: 223px;
                    height: 200px;
                }
                &__link {
                    transform: translate(40px,80px);
                    font-size: 16px;
                    width: 150px;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 550px;
    }
    .details {
        .zero {
            img {
                width: 550px;
                height: 400px;
            }
        }
        .first {
            img {
                width: 250px;
                height: 280px;
            }
        }
        .second {
            flex-wrap: wrap;
            img {
                width: 265px;
            }
            img:nth-child(1) {
                margin-bottom: 0;
            }
            img:nth-child(2) {
                margin-bottom: 0px;
                margin-right: 0;
            }
            img:nth-child(3) {
                margin-top: 40px;
            }
        }
        .third {
            flex-wrap: wrap;
            img {
                width: 265px;
                height: 320px;
            }
            img:last-child {
                margin: 0 auto;
            }
            img:nth-child(1) {
                margin-bottom: 40px;
            }
            img:nth-child(2) {
                margin-bottom: 40px;
                margin-right: 0;
            }
        }
        &__nav {
            flex-wrap: wrap;
            justify-content: center;
            &-prev {
                order: 1;
                margin-right: 20px;
                img {
                    width: 223px;
                }
                &__link {
                    transform: translate(40px,80px);
                }
            }
            &-projects {
                order: 3;
                margin-top: 20px;
                margin-right: 0;
                img {
                    width: 223px;
                }
                &__btn {
                    transform: translate(25px,60px);
                }
            }
            &-next {
                order: 2;
                
                img {
                    width: 223px;
                }
                &__link {
                    transform: translate(40px,80px);
                }
            }
        }
    }
}
@media (max-width: 567px) {
    .container {
        max-width: 400px;
    }
    .details__images {
        flex-wrap: wrap;
        justify-content: center;
    }
    .details {
        .zero {
            img {
                width: 400px;
                height: 300px;
            }
        }
        .first {
            img {
                width: 350px;
                height: 250px;
                margin-right: 0;
            }
            img:first-child {
                margin-bottom: 20px;
            }
        }
        .second {
            flex-wrap: wrap;
            img {
                width: 350px;
                height: 250px;
                margin-right: 0;
                margin-left: 0;
            }
            img:first-child {
                margin-right: 0;
                margin-bottom: 20px;
            }
            img:last-child {
                margin-right: 0;
                margin-left: 0;
            }
        }
        .third {
            flex-wrap: wrap;

            img {
                width: 500px;
                height: 350px;
            }
            img:first-child {
                margin-right: 0;
            }
        }
        &__nav {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 50px;
            &-prev {
                order: 1;
                margin-right: 0px;
                img {
                    width: 223px;
                }
            }
            &-projects {
                order: 3;
                margin-top: 0;
                margin-bottom: 30px;
                img {
                    width: 223px;
                }
            }
            &-next {
                order: 2;
                margin-bottom: 20px;
                margin-top: 20px;
                img {
                    width: 223px;
                }
            }
        }
    }
}
@media (max-width: 480px) {
    .details {
        .zero {
            img {
                width: 350px;
                height: 300px;
            }
        }
        .first {
            flex-wrap: wrap;
            justify-content: center;
            img {
                margin-right: 0;
            }
            img:last-child {
                margin-top: 40px;
            }
        }
        .second {
            flex-wrap: wrap;
            justify-content: center;
            img {
                width: 280px;
            }
            img:nth-child(1) {
                margin-bottom: 0;
                margin-right: 0;
            }
            img:nth-child(2) {
                margin-bottom: 0px;
                margin-right: 0;
                margin-top: 40px;
            }
            img:nth-child(3) {
                margin-top: 40px;
                margin-right: 0;
                margin-left: 0;
            }
        }
        .third {
            flex-wrap: wrap;
            justify-content: center;
            img {
                width: 280px;
                height: 320px;
            }
            img:last-child {
                margin: 0 auto;
            }
            img:nth-child(1) {
                margin-bottom: 40px;
                margin-right: 0;
            }
            img:nth-child(2) {
                margin-bottom: 40px;
                margin-right: 0;
            }
        }
        &__nav {
            flex-wrap: wrap;
            justify-content: center;
            &-prev {
                order: 1;
                margin-right: 0;
                margin-bottom: 20px;
                img {
                    width: 223px;
                }
                &__link {
                    transform: translate(40px,80px);
                }
            }
            &-projects {
                order: 3;
                margin-top: 20px;
                img {
                    width: 223px;
                }
                &__btn {
                    transform: translate(25px,60px);
                }
            }
            &-next {
                order: 2;
                img {
                    width: 223px;
                }
                &__link {
                    transform: translate(40px,80px);
                }
            }
        }
    }
}
@media (max-width: 320px) {
    .details {
        .zero {
            img {
                width: 290px;
            }
        }
        .first {
            flex-wrap: wrap;
            justify-content: center;
            img {
                margin-right: 0;
            }
            img:last-child {
                margin-top: 40px;
            }
        }
        .second {
            flex-wrap: wrap;
            justify-content: center;
            img {
                width: 280px;
            }
            img:nth-child(1) {
                margin-bottom: 0;
                margin-right: 0;
            }
            img:nth-child(2) {
                margin-bottom: 0px;
                margin-right: 0;
                margin-top: 40px;
            }
            img:nth-child(3) {
                margin-top: 40px;
                margin-right: 0;
                margin-left: 0;
            }
        }
        .third {
            flex-wrap: wrap;
            justify-content: center;
            img {
                width: 280px;
                height: 320px;
            }
            img:last-child {
                margin: 0 auto;
            }
            img:nth-child(1) {
                margin-bottom: 40px;
                margin-right: 0;
            }
            img:nth-child(2) {
                margin-bottom: 40px;
                margin-right: 0;
            }
        }
        &__nav {
            flex-wrap: wrap;
            justify-content: center;
            &-prev {
                order: 1;
                margin-right: 0;
                margin-bottom: 20px;
                img {
                    width: 223px;
                }
                &__link {
                    transform: translate(40px,80px);
                }
            }
            &-projects {
                order: 3;
                margin-top: 20px;
                img {
                    width: 223px;
                }
                &__btn {
                    transform: translate(25px,60px);
                }
            }
            &-next {
                order: 2;
                img {
                    width: 223px;
                }
                &__link {
                    transform: translate(40px,80px);
                }
            }
        }
    }
}